# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Artefacts
output/
cveData/
dist/
*.exe
*.dll

# Fyne bundle (генерируется в контейнере)
bundled.go

# Go кеш и тесты
*.test
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# logs
*.log